html{
    height: 100%;
}
body, #root, .App{
    min-height: 100%; /*FINALLY FIXED HEIGHT, html needed to be height, while the rest works better with min-height, idk why and i couldnt google it either */
    /* height: fit-content; */
    display: flex;
    /* min-height: 100vh; */
}
*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.App{
    height: 100%;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fcc3a3;
/* opacity: 1;
background-image:  repeating-linear-gradient(45deg, #f09f9c 25%, transparent 25%, transparent 75%, #f09f9c 75%, #f09f9c), repeating-linear-gradient(45deg, #f09f9c 25%, #fcc3a3 25%, #fcc3a3 75%, #f09f9c 75%, #f09f9c);
background-position: 0 0, 40px 40px;
background-size: 80px 80px; */
background: rgb(89,255,202), lightblue;
background: linear-gradient(0deg, rgba(89,255,202,1) 0%, rgba(17,176,200,1) 50%, rgba(74,209,70,1) 100%); 
}